<template>
    <div>
        <div class="row" style="margin-bottom: 15px">
            <div class="col-4">
                <label for="countrySelect">Countries</label>
                <select @change="filterPerCountry()" v-model="country" class="form-control" id="countrySelect">
                    <option value="">All</option>
                    <option v-for="c in countries" :value="c">{{c}}</option>
                </select>
            </div>
            <div class="col-4">
                <label for="validSelect">Valid</label>
                <select @change="filterPerValid()" v-model="valid" class="form-control" id="validSelect">
                    <option value="">All</option>
                    <option value="OK">OK</option>
                    <option value="NOK">NOK</option>
                </select>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Country</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">State</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="data in tableData">
                <th scope="row">{{data.country}}</th>
                <td>{{data.name}}</td>
                <td>{{data.phone}}</td>
                <td>{{data.state}}</td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item" :class="page === 1 ? 'disabled' : ''">
                    <button @click="previousPage" class="page-link">Previous</button>
                </li>
                <li class="page-item disabled">
                    <button class="page-link">{{page}}</button>
                </li>
                <li class="page-item" @click="nextPage()" :class="page === pages ? 'disabled' : ''">
                    <button class="page-link">Next</button>
                </li>
            </ul>
        </nav>
    </div>
</template>

<script>
    export default {
        name: "TablePhones",
        data() {
            return {
                initialData: [],
                filterData: [],
                tableData: [],
                countries: [],
                country: '',
                valid: '',
                page: 1,
                pages: 1,
                url: Vue.prototype.api,
            }
        },
        methods: {
            async getData() {
                this.initialData = await axios.get(`${this.url}/customer`);
                this.filterData = [...this.initialData.data];
                this.tableData = this.getPageData(this.filterData, this.page);
                this.getAllCountries()
            },
            nextPage() {
                if (this.page !== this.pages) {
                    this.page++;
                    this.tableData = this.getPageData(this.filterData, this.page);
                }
            },
            previousPage() {
                if (this.page !== 1) {
                    this.page--;
                    this.tableData = this.getPageData(this.filterData, this.page);
                }
            },
            getPages() {
                this.pages = parseInt((this.filterData.length) / 5);
                if ((this.filterData.length) % 5 === 1) {
                    this.pages++
                }
                if (this.pages === 0) {
                    this.pages++
                }
            },
            getPageData(data, page) {
                let currentPage = (page * 5);
                this.getPages();
                return data.slice(currentPage - 5, currentPage)
            },
            getAllCountries() {
                this.filterData.forEach(data => {
                    if (!this.countries.includes(data.country) && data.country !== '') {
                        this.countries.push(data.country)
                    }
                })
            },
            resetFilter(type){
                if(type==='country'){
                    this.valid = ''
                }else if(type==='valid'){
                    this.country = ''
                }
            },
            filterPerCountry() {
                this.filterData = [...this.initialData.data];
                this.resetFilter('country');
                if (this.country !== '') {
                    this.filterData = this.filterData.filter(data => data.country === this.country);
                }
                this.tableData = this.getPageData(this.filterData, 1);
            },
            filterPerValid(){
                this.filterData = [...this.initialData.data];
                this.resetFilter('valid');
                if (this.valid !== '') {
                    this.filterData = this.filterData.filter(data => data.state === this.valid);
                }
                this.tableData = this.getPageData(this.filterData, 1);
            }
        },
        created() {
            this.getData();
        }
    }
</script>

<style scoped>

</style>
